<article class="post" itemscope itemtype="http://schema.org/Article">
  <header class="post-header">
    <%- partial('post/title') %>
    <%- partial('post/date') %>
  </header>
  <div class="entry  m-markdown">
    <% if (post.excerpt && index){ %>
      <%- post.excerpt %>
      <a href="<%- config.root %><%- post.path %>#more" class="u-more"> <span class="icon-file"></span> READMORE</a>
    <% } else { %>
      <%- post.content %>
    <% } %>
  </div>
  <% if (!index){ %>
    <footer class="post-footer">
      <%- partial('post/share') %>
      <% if (index){ %>
        <% if (post.excerpt){ %>
          <div class="alignleft">
            <a href="<%- config.root %><%- post.path %>#more" class="more-link"><%= theme.excerpt_link %></a>
          </div>
        <% } %>
        <% if (post.comment && config.disqus_shortname){ %>
        <div class="alignright">
          <a href="<%- post.permalink %>#disqus_thread" class="comment-link">Comments</a>
        </div>
        <% } %>
      <% } else { %>
      <% } %>
      <div class="clearfix"></div>
    </footer>
    <%- partial('comment') %>
  <% } %>

</article>